.dialogbox_list {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    overflow: hidden;
    right: 0;
    height: 100%;
    min-width: 420px;
}

.dialog_box_fadein {
    animation-name: dialog_fadeinouter_animation;
    animation-duration: $dialogbox_fadeinduration;
    animation-timing-function: cubic-bezier(.17,.86,.02,1);
    animation-iteration-count: 1;

    .dialog_box {
        animation-name: dialog_fadein_animation;
        animation-duration: $dialogbox_fadeinduration;
        animation-timing-function: cubic-bezier(.17,.86,.02,1);
        animation-iteration-count: 1;
    }
}

.dialog_box_fadeout {
    .dialog_box {
        animation-name: dialog_fadeout_animation;
        animation-duration: $dialogbox_fadeoutduration;
        animation-timing-function: cubic-bezier(.15,.94,.23,1.11);
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
}

.dialog_box:last-child {
    bottom: 20px;
}

.dialog_box {
    margin-top: 8px;
    min-width: 400px;
    height: 60px;
    position: relative;
    background-color: $dialogbox_bgcolor;
    border-radius: 10px;
}

.dialog_box_outer {
    position: relative;
}

.dialog_container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    align-content: center;
}

.dialog_infobox {
    margin-left: 10px;
    width: 50px;
    height: 32px;
    background-color: $dialogbox_infoboxcolor;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'FiraMono_Regular';
    text-align: center;
    line-height: 32px;
    color: $dialogbox_textcolor;
}

.dialog_message {
    width: 90%;
    overflow: hidden;
    margin-left: 10px;
    font-size: 16px;
    font-family: 'FiraMono_Regular';
    color: $dialogbox_textcolor;
}

.dialog_time_line {
    right: 0;
    bottom: 0;
    position: absolute;
    width: 0;
    height: 7px;
    background-color: $dialogbox_timelinecolor;
    border-radius: 10px 0 10px 0;
    &_active {
        animation-name: dialog_timeline_animation;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
}

// @keyframes dialog_fadeoutouter_animation {
//     0% {
//         height: 68px;
//     }
//     100% {
//         height: 0;
//     }
// }

@keyframes dialog_fadeinouter_animation {
    0% {
        height: 0;
    }
    100% {
        height: 68px;
    }
}

@keyframes dialog_fadeout_animation {
    0% {
        opacity: 1;
        right: 0;
    }
    100% {
        opacity: 0;
        right: -100%;
    }
}

@keyframes dialog_fadein_animation {
    0% {
        bottom: -80px;
    }
    100% {
        bottom: 20px;
    }
}

@keyframes dialog_timeline_animation {
    0% {
        width: 0px;
    }
    99% {
        border-radius: 10px 0 10px 0;
    }
    100% {
        border-radius: 0 0 10px 10px;
        width: 100%;
    }
}